/* Primary stylesheet for my personal portfolio web page Author: Manuel Aguilar */
h1{font-size: 70px;} /* Changed h1 font size */
p1{font-size: 50px;} /* Changed p1 font size */
p1{font-weight: bold;} /* made p1 bold */
p2{font-size: 50px;} /* Changed p2 font size */
p2{font-weight: bold;} /* made p2 bold */
p3{font-size: 50px;}
p3{font-weight: bold;}
p{font-size: 30px;}