/* Primary stylesheet for my personal portfolio web page Author: Manuel Aguilar */
h1{ font-size: 50px;} 
p1{font-size: 40px;}
p1{font-weight: bold;}
p2{font-size: 40px;}
p3{font-size: 40px;}
p{font-size: 30px;}